[submodule "externals/my/xt_shell"]
	path = externals/my/xt_shell
	url = https://github.com/xtender/xt_shell.git
[submodule "externals/sqld360"]
	path = externals/sqld360
	url = https://github.com/mauropagano/sqld360.git
[submodule "externals/randolfgeist"]
	path = externals/randolfgeist
	url = https://github.com/randolfgeist/oracle_scripts.git
